
.main{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.button-create-to-do{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.table-to-do{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
}

.div-components{
  width: 300px;
  height: auto;
}

.form{
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 5px;
  border: 1px solid;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.title-form{
  height: auto;
  width: auto;
  margin-bottom: 10px;
  margin-top: -20px;
  font-weight: bolder;
}

.div-form-button{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.button-form{
  width: 100px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 5px !important;
  margin-left: 5px;
}

.btn-close-form{
  width: auto;
  height: auto;
  align-self: flex-end;
  margin-top: 10px;
  margin-right: 10px;
  background: none;
	color:inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
  outline: inherit;
}

.btn-close-form:hover{
	color: red;
}

.div-input-radio{
  width: auto;
  height: auto;
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
}

.span-input-radio{
  width: auto;
  height: auto;
  font-size: 13px;
  font-weight: bolder;
  padding-left: 5px;
  padding-right: 10px;
}

.title-status-radio{
  width: auto;
  height: auto;
  font-size: 16px;
  font-weight: bolder;
  padding-left: 5px;
  padding-right: 10px;
}
