.div-input{
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.select-form{
  width:100%;
  height: auto;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
  text-align: center;
}

.select-form-option{
  text-align: center;
}

