table{
  text-align: center;
  width: 100%;
  height: auto;
}

.btn-close-table{
  width: auto;
  height: auto;
  align-self: flex-end;
  margin-top: 10px;
  margin-right: 10px;
  background: none;
	color:inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
  outline: inherit;
}

.btn-close-table:hover{
	color: red;
}

.btn-done-table{
  width: auto;
  height: auto;
  align-self: flex-end;
  margin-top: 10px;
  margin-right: 10px;
  background: none;
	color:inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
  outline: inherit;
}

.btn-done-table:hover{
	color: green;
}

.btn-edit-table{
  width: auto;
  height: auto;
  align-self: flex-end;
  margin-top: 10px;
  margin-right: 10px;
  background: none;
	color:inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
  outline: inherit;
}

.btn-edit-table:hover{
	color: blue;
}
